<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>library management system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBooksServlet</display-name>
    <servlet-name>BorrowBooksServlet</servlet-name>
    <servlet-class>BorrowBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBooksServlet</servlet-name>
    <url-pattern>/BorrowBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBooksServlet</display-name>
    <servlet-name>ReturnBooksServlet</servlet-name>
    <servlet-class>ReturnBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBooksServlet</servlet-name>
    <url-pattern>/ReturnBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSettingsServlet</display-name>
    <servlet-name>AccountSettingsServlet</servlet-name>
    <servlet-class>AccountSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettingsServlet</servlet-name>
    <url-pattern>/AccountSettingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBooksServlet</display-name>
    <servlet-name>AllBooksServlet</servlet-name>
    <servlet-class>AllBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBooksServlet</servlet-name>
    <url-pattern>/AllBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableBooksServlet</display-name>
    <servlet-name>AvailableBooksServlet</servlet-name>
    <servlet-class>AvailableBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableBooksServlet</servlet-name>
    <url-pattern>/AvailableBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowedBooksServlet</display-name>
    <servlet-name>BorrowedBooksServlet</servlet-name>
    <servlet-class>BorrowedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowedBooksServlet</servlet-name>
    <url-pattern>/BorrowedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowedBook</display-name>
    <servlet-name>BorrowedBook</servlet-name>
    <servlet-class>BorrowedBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowedBook</servlet-name>
    <url-pattern>/BorrowedBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDashboardServlet</display-name>
    <servlet-name>BookDashboardServlet</servlet-name>
    <servlet-class>BookDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDashboardServlet</servlet-name>
    <url-pattern>/BookDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineCalculator</display-name>
    <servlet-name>FineCalculator</servlet-name>
    <servlet-class>FineCalculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineCalculator</servlet-name>
    <url-pattern>/FineCalculator</url-pattern>
  </servlet-mapping>
</web-app>